
.container {
    padding: 20px;
}

.header {
    text-align: center;
    padding-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

mat-paginator {
    margin-top: 20px;
}

@media (max-width: 600px) {
    th, td {
        padding: 8px;
    }

    .header {
        padding: 10px 0;
    }
}

.search-fields {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.button-container {
    margin-bottom: 20px;
}



