<div class="container">
    <div class="header">
      <h2>Employee List</h2>
    </div>

    <div class="button-container">
        <button mat-raised-button color="primary" routerLink="add-employee">Add Employee</button>
    </div>

    <div class="search-fields">
        <mat-form-field>
            <mat-label>Search by First Name</mat-label>
            <input matInput (input)="applyFilter($event, 'firstName')" placeholder="First Name" [value]="getLocalStorageItem('firstName')">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Search by Last Name</mat-label>
            <input matInput (input)="applyFilter($event, 'lastName')" placeholder="Last Name" [value]="getLocalStorageItem('lastName')">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Search by Email</mat-label>
            <input matInput (input)="applyFilter($event, 'email')" placeholder="Email" [value]="getLocalStorageItem('email')">
        </mat-form-field>
    </div>


    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element; let i = index">{{getIndex(i)}}</td>
        </ng-container>
        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ getDisplayValue(column) }}</th>
            <td mat-cell *matCellDef="let row">{{ row[column] }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let row">
                <button mat-button color="primary" (click)="detailEmployee(row)">
                    Detail
                </button>
                <button mat-button color="second" (click)="editEmployee(row)">Edit</button>
                <button mat-button color="warn" (click)="deleteEmployee(row)">Delete</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="allColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: allColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
  </div>
