.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-left: 2rem;
    padding-right: 2rem;
}

.flex-item {
    padding-left: 2rem;
    padding-right: 2rem;
    flex: 1;
}

.image-container img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.content-container {
    padding: 8px;
}

@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
        height: auto;
    }
    .image-container, .form-container {
        flex: 1
    }
}

.form-group {
    width: 100%;
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input {
    width: calc(100% - 1rem);
    padding: 0.5rem;
}

.error-message {
    color: red;
    font-size: 0.875rem;
}

.divider {
    margin-bottom: 2rem;
    border: 1px solid #000;
}

.button-container {
    margin-top: 2rem;
}

.login-button {
    background-color: rgb(105, 105, 240);
    color: white;
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    border: none;
}

.login-button:hover {
    background-color: rgb(49, 49, 170);
}

