<div class="flex-container">
    <div class="flex-item image-container">
        <img src="assets/images/hrd.jpg" alt="hrd" />
    </div>
    <div class="flex-item form-container">
        <div class="content-container">
            <h2>Selamat Datang di DEM-System</h2>
            <hr class="divider" />
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" (reset)="onReset()">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" formControlName="username" required />
                    <div class="error-message" *ngIf="isSubmitting && form['username'].errors">
                        {{ getErrorMessage('username') }}
                    </div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" formControlName="password" required />
                    <div class="error-message" *ngIf="isSubmitting && form['password'].errors">
                        {{ getErrorMessage('password') }}
                    </div>
                </div>
                <div class="button-container">
                    <button type="submit" class="login-button" [disabled]="isSubmitting">
                        <span *ngIf="isSubmitting">Loading...</span>
                        <span *ngIf="!isSubmitting">Login</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
