<div class="container">
    <h1>Detail Employee</h1>

    <div class="form-container">
        <form [formGroup]="employeeForm">
            <div class="field-container">
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" required readonly>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName" required readonly>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName" required readonly>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required readonly>
                </mat-form-field>


                <mat-form-field>
                    <mat-label>Birth Date</mat-label>
                    <input matInput formControlName="birthDate" required readonly>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Basic Salary</mat-label>
                    <input matInput formControlName="basicSalary" required type="text" readonly>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Group</mat-label>
                    <input matInput formControlName="group" required type="text" readonly>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Status</mat-label>
                    <input matInput formControlName="status" required type="text" readonly>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description" required readonly></textarea>
                </mat-form-field>
            </div>

            <button mat-raised-button color="warn" type="button" (click)="onCancel()">Ok</button>
        </form>
    </div>
</div>
