.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    color: #3f51b5;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

.field-container {
    display: flex;
    flex-direction: column;
}

button {
    margin-right: 20px;
}

