<div mat-dialog-container [ngClass]="{'dialog-success': dialogType === 'success', 'dialog-error': dialogType === 'error', 'dialog-warning': dialogType === 'warning'}">
    <h2 mat-dialog-title class="white">
      {{ title }}
      <button mat-icon-button class="close-button" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </h2>
    <div mat-dialog-content class="white">
      {{ message }}
    </div>
</div>
