.dialog-success {
    background-color: #4caf50;
    color: white !important;
}

.dialog-error {
    background-color: #f44336;
    color: white !important;
}

.dialog-warning {
    background-color: #e9e501;
    color: white !important;
}



mat-dialog-container {
    position: relative;
    padding: 20px;
    border-radius: 5px;
}

mat-dialog-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    color: white !important;
    position: absolute;
    top: 10px;
    right: 10px;
}

.white {
    color: white !important;
}

