<div class="container">
    <h1>Add Employee</h1>

    <div class="form-container">
        <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
            <div class="field-container">
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" required>
                    <mat-error *ngIf="isSubmitting && form['username'].errors">
                        {{ getErrorMessage('username') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName" required>
                    <mat-error *ngIf="isSubmitting && form['firstName'].errors">
                        {{ getErrorMessage('firstName') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName" required>
                    <mat-error *ngIf="isSubmitting && form['lastName'].errors">
                        {{ getErrorMessage('lastName') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required email>
                    <mat-error *ngIf="isSubmitting && form['email'].errors">
                        {{ getErrorMessage('email') }}
                    </mat-error>
                </mat-form-field>


                <mat-form-field>
                    <mat-label>Birth Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="birthDate" [matDatepickerFilter]="dateFilter" required readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="isSubmitting && form['birthDate'].errors">
                        {{ getErrorMessage('birthDate') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Basic Salary</mat-label>
                    <input (keypress)="onlyDecimalNumberKey($event)" matInput formControlName="basicSalary" required type="number">
                    <mat-error *ngIf="isSubmitting && form['basicSalary'].errors">
                        {{ getErrorMessage('basicSalary') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Group</mat-label>
                    <mat-select formControlName="group" required>
                        <mat-option *ngFor="let group of groups" [value]="group">{{group}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="isSubmitting && form['group'].errors">
                        {{ getErrorMessage('group') }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status" required>
                        <mat-option *ngFor="let status of statuses" [value]="status">{{status}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="isSubmitting && form['status'].errors">
                        {{ getErrorMessage('status') }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description" required></textarea>
                    <mat-error *ngIf="isSubmitting && form['description'].errors">
                        {{ getErrorMessage('description') }}
                    </mat-error>
                </mat-form-field>
            </div>

            <button mat-raised-button color="primary" type="submit">Save</button>
            <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
        </form>
    </div>
</div>
